* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #b9edf2;
    color: white;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}

.sidebar {
    background-color: rgb(135, 195, 255);
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

nav {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;
}

nav .impressum {
    position: absolute;
    bottom: 40px;
}

.logo img {
   height: 20vh;
}

.hero-img {
    width: 100%;
    height: 100vh;
    display: block;
}

button {
    padding: 8px 22px;
    border-radius: 20px;
    background-color: #446c92;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}

.hero {
  position: relative; /* wichtig für absolute Positionierung */
}
 
/* Suchfeld + DE oben auf dem Bild */
.header {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
 
/* Suchfeld */

.search-row {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 360px;
}

#search-input {
    padding: 8px 14px;
    border-radius: 20px;
    border: none;
    background: white;
    font-weight: bold;
    color: #799ec0; 
}

#stadtwahl {
    padding: 8px 14px;
    border-radius: 20px;
    border: none;
    background: white;
    font-weight: bold;
    color: #799ec0;
}
 
/* DE Button rechts */
#language {
  background: rgba(103, 164, 255, 0);
  border: none;
  border-radius: 20px;
  padding: 6px 14px;
  font-weight: bold;
  cursor: pointer;
  color:#446c92;
  font-size: 21px;
  position: absolute;
  right: 20px;
  top: 0;
}
 
/* Bild */
.hero-img {
  width: 100%;
  display: block;
}
 
/* Text unten links auf dem Bild */
.hero-text {
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: white;
}
 
.hero-text h1 {
  font-size: 64px;
  line-height: 1;
}
/* Cards für das HTML, das erst geniert wird */

#restaurants-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
  padding: 16px;
}
 
.pizza-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
 
.pizza-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}
 
.pizza-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
 
.pizza-card .card-content {
  padding: 12px;
}
 
.pizza-card h3 {
  margin: 0 0 6px;
  font-size: 16px;
}
 
.pizza-card .price {
  font-weight: bold;
}